Repository n-paukov/swengine, pull requests merged in 2020-10, with the labels that each got.

#75 Quests system
  sources/Engine/Modules/ECS/EventsListener.h
  sources/Engine/Modules/ECS/GameWorld.h
  sources/Engine/Modules/Graphics/GUI/GUIWidget.cpp
  sources/Engine/Modules/Graphics/GUI/GUIWidget.h
  sources/Engine/Modules/ScreenManagement/ScreenManager.cpp
  sources/Game/Core/GameApplication.cpp
  sources/Game/Core/GameApplication.h
  sources/Game/Game/ComponentsLoader/GameComponentsLoader.cpp
  sources/Game/Game/Dynamic/ActorComponent.cpp
  sources/Game/Game/Dynamic/ActorComponent.h
  sources/Game/Game/Dynamic/Dialogue.cpp
  sources/Game/Game/Dynamic/Dialogue.h
  sources/Game/Game/Dynamic/DialoguesManager.cpp
  sources/Game/Game/Dynamic/DialoguesManager.h
  sources/Game/Game/Dynamic/DialoguesUI.cpp
  sources/Game/Game/Dynamic/DialoguesUI.h
  sources/Game/Game/Dynamic/GameLogicConditionsManager.cpp
  sources/Game/Game/Dynamic/GameLogicConditionsManager.h
  sources/Game/Game/Dynamic/InfoportionsSystem.cpp
  sources/Game/Game/Dynamic/InfoportionsSystem.h
  sources/Game/Game/Dynamic/InteractiveObjectsControlSystem.cpp
  sources/Game/Game/Dynamic/Quest.cpp
  sources/Game/Game/Dynamic/Quest.h
  sources/Game/Game/Dynamic/QuestsSystem.cpp
  sources/Game/Game/Dynamic/QuestsSystem.h
  sources/Game/Game/Game.cpp
  sources/Game/Game/Game.h
  sources/Game/Game/Inventory/InventoryComponent.cpp
  sources/Game/Game/Inventory/InventoryComponent.h
  sources/Game/Game/Inventory/InventoryControlSystem.cpp
  sources/Game/Game/Inventory/InventoryControlSystem.h
  sources/Game/Game/Inventory/InventoryItemComponent.cpp
  sources/Game/Game/Inventory/InventoryItemComponent.h
  sources/Game/Game/Inventory/InventoryUI.cpp
  sources/Game/Game/PlayerControlSystem.cpp
  sources/Game/Game/PlayerControlSystem.h
  sources/Game/Game/Screens/GameScreen.cpp
  sources/Game/Game/Screens/GameScreen.h
  sources/Game/Game/Screens/MainMenuScreen.cpp
  sources/Tests/CMakeLists.txt
  sources/Tests/tests/game/TestGameWorldGenerator.cpp
  sources/Tests/tests/game/TestGameWorldGenerator.h
  sources/Tests/tests/game/dialogues.cpp
  sources/Tests/tests/game/gameLogic.cpp
  sources/Tests/tests/game/quests.cpp
Labels: Game, New functionality

#77 Features/shader type enum
  sources/Engine/Modules/Graphics/GUI/GUISystem.cpp
  sources/Engine/Modules/Graphics/GUI/GUIText.cpp
  sources/Engine/Modules/Graphics/GraphicsSystem/DebugPainter.cpp
  sources/Engine/Modules/Graphics/GraphicsSystem/EnvironmentRenderingSystem.cpp
  sources/Engine/Modules/Graphics/GraphicsSystem/MeshRenderingSystem.cpp
  sources/Engine/Modules/Graphics/GraphicsSystem/RenderingSystemsPipeline.cpp
  sources/Engine/Modules/Graphics/OpenGL/GLMaterial.cpp
  sources/Engine/Modules/Graphics/OpenGL/GLMaterial.h
  sources/Engine/Modules/Graphics/OpenGL/GLShader.cpp
  sources/Engine/Modules/Graphics/OpenGL/GLShader.h
  sources/Engine/Modules/Graphics/OpenGL/GLShadersPipeline.cpp
  sources/Engine/Modules/Graphics/OpenGL/GLShadersPipeline.h
  sources/Engine/Modules/Graphics/OpenGL/ShaderType.h
  sources/Engine/Modules/Graphics/Resources/MaterialResource.cpp
  sources/Engine/Modules/Graphics/Resources/MaterialResource.h
  sources/Engine/Modules/Graphics/Resources/ShaderResource.cpp
  sources/Engine/Modules/Graphics/Resources/ShaderResource.h
  sources/Tests/tests/resources/resourceManager.cpp
Labels: Code, Graphics subsystem

#78 [tests] add frustum AABB and Sphere intersection tests and function o…
  sources/Engine/Modules/Math/geometry.cpp
  sources/Engine/Modules/Math/geometry.h
  sources/Tests/tests/math/geometry.cpp
Labels: Testing

#83 [test]Add test for hasNotInfoportion condition
  sources/Tests/tests/game/gameLogic.cpp
Labels: Game, Testing

#84 [tests] Add tests for hasItem condition
  sources/Tests/tests/game/gameLogic.cpp
Labels: Game, Testing
